<footer class="bottom-menu">
    <a href="index.html" class="menu-box">Main Page</a>
    <a href="about.html" class="menu-box">About Me</a>
    <a href="projects.html" class="menu-box">Projects</a>
    <a href="Research.html" class="menu-box">Research</a>
    <a href="Lectures.html" class="menu-box">Academic Ressource</a>
    <a href="art.html" class="menu-box">Inspiration</a>
    <a href="contact.html" class="menu-box">Contact</a>
    <a href="repository.html" class="menu-box">Public Repository</a>
</footer>