<div class="main-section">
    <h2>Projets Techniques</h2>
    {# Sélection et fusion des listes de projets #}
    {% set selected_projects = projects.robotics + projects.embedded_linux %}

    {% for proj in selected_projects %}
    <div class="timeline-item">
        <div class="item-header">
            <span class="item-title">{{ proj.name }}</span>
        </div>
        <div class="item-sub">{{ proj.context }}</div>
        <p class="item-details" style="font-size: 0.85em; margin: 0 0 5px 0;">{{ proj.details }}</p>
        
        {% if proj.achievements %}
        <ul class="item-achievements">
            {% for ach in proj.achievements %} <li>{{ ach }}</li> {% endfor %}
        </ul>
        {% endif %}

        <div class="tag-container">
            {% if proj.keywords %}
                {% for kw in proj.keywords %}<span class="tag">{{ kw }}</span>{% endfor %}
            {% endif %}
        </div>
        <div class="tag-container stack-tags">
            {% if proj.stack %}
                {% for tool in proj.stack %}<span class="tag stack-tag">{{ tool }}</span>{% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>